* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

.wrapper {
    margin-top: 30px;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
    width: 500px;
    margin-left: 50%;
    left: -250px;
    border-radius: 5px;
    z-index: 0;
    padding-bottom: 27px;
    margin-bottom: 50px;
}

.wrapper:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;    
}

.container {
    overflow: hidden;
}

#container__ingame {
    margin-top: 30px;
    position: absolute;
    background-color: white;
    width: 1000px;
    min-height: 500px;
    margin-left: 50%;
    left: -500px;
    border-radius: 5px;
    z-index: 0;
    padding-bottom: 10px;
}

#container__ingame:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

.title {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    font: normal 30px/1 Verdana, Helvetica;
    position: relative;
}

.subtitle {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 2px 0 rgba(125, 125, 125, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    font: normal 20px/1 Verdana, Helvetica;
    position: relative;
}

p {
    font-family:'Open Sans', sans-serif;
    width: 80%;
    margin: 15px auto;
}

/* =======================  Buttons ========================= */

.btn {
    border: none;
    border-radius: 5px;    
    padding: 10px 0;
    font-size: 19px;
    text-decoration: none;    
    color: #fff;
    text-align: center;
    position: relative;
    display: block;
    cursor: pointer;
    font-family: Verdana, Helvetica, sans-serif;;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
}

.btn:focus {
    outline: none;
}

.blue {
    background-color: #55acee;
    box-shadow: 0 5px 0 0 #3C93D5;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0 5px 0 0 #CE3323;
}

.btn--short {
    margin: 15px auto;
    width: 40%;
}

.btn__main, .btn__login, .btn__rating, .btn__reg, .btn__admin {
    margin: 15px auto;
    width: 80%;
}

/* =======================  Buttons ========================= */

/* =======================  Field ========================= */

.input-field {
    margin: 20px auto;
    display: block;
    width: 75%;
    border-radius: 3px;
    height: 25px;
    background: #fff;
    border:1px solid #ccc;
    padding: 2%;
    font-family:'Open Sans',sans-serif;
    font-size: 95%;
    color: #555;
}

/* =======================  Field ========================= */

.login__input:focus {
    outline: none;
}

/* =======================  Field ========================= */

/* ====================  User-block ======================= */

#user-block {
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
    bottom: 10px;
    right: 10px;
    z-index: 1;
    height: 100px;
    width: 320px;
    border-radius: 3px;
    background-color: white;
}
#user-block:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

#user-block__ava {
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
    float: left;
    margin: 15px 15px 15px 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

#user-block__right-block {
    margin-top: 14px;
    overflow: hidden;
}

.user-field {
    overflow: hidden;
    margin: 5px;
    font-family: Arial, sans-serif;
    color: #222;
    font-size: 15px;
}

.field-value {
    margin-left: 6px;
    color: #555;
}

/* ====================  User-block ======================= */

/* ====================  Score-block ======================= */


/* ================  table =================== */
.flat-table {
    margin: 0 auto;
    font-family: Arial, sans-serif;;
    font-size: 17px;
    overflow: auto;
}

.flat-table th {
    background-color: #3498DB;
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    text-align: center;
}

.flat-table td {
    background-color: #ECF0F1;
    color: rgb(111, 111, 111);
    padding: 10px 20px;
}

/* ================  table =================== */
