* {
  margin: 0;
  padding: 0; }

body {
  background-color: #eeeeee; }

.left {
  float: left; }

.right {
  float: right; }

.dashed, .b-admin:before, .b-room:before, .b-game:before, .b-login:before, .b-menu:before, .b-rating:before, .b-register:before {
  content: '';
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px; }

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  position: relative;
  display: block;
  cursor: pointer;
  font-family: Verdana, Helvetica, sans-serif;
  margin: 15px auto;
  width: 80%; }
  .btn_blue {
    background-color: #55acee;
    box-shadow: 0 5px 0 0 #3C93D5; }
  .btn_red {
    background-color: #e74c3c;
    box-shadow: 0 5px 0 0 #CE3323; }
  .btn_short {
    margin: 15px auto;
    width: 40%; }
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0; }
  .btn:focus {
    outline: none; }

.controller-btn {
  float: left;
  margin-left: 20%;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  position: relative;
  display: block;
  cursor: pointer;
  font-family: Verdana, Helvetica, sans-serif;
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: transparent; }
  .controller-btn .controller-btn__icon {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
  .controller-btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0; }
  .controller-btn:focus {
    outline: none; }

.b-admin {
  overflow: hidden;
  margin-top: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
  width: 500px;
  margin-left: 50%;
  left: -250px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 27px;
  margin-bottom: 50px; }
  .b-admin__plain-info {
    text-align: center; }

.b-room {
  overflow: hidden;
  margin-top: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
  width: 900px;
  margin-left: 50%;
  left: -450px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 27px;
  margin-bottom: 50px; }
  .b-room .b-room__container-players {
    min-height: 400px; }

.b-game {
  overflow: hidden;
  margin-top: 30px;
  position: absolute;
  background-color: white;
  width: 1200px;
  min-height: 600px;
  margin-left: 50%;
  left: -600px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 10px; }

.b-login {
  overflow: hidden;
  margin-top: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
  width: 500px;
  margin-left: 50%;
  left: -250px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 27px;
  margin-bottom: 50px; }

.b-menu {
  overflow: hidden;
  margin-top: 50px;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
  width: 500px;
  margin-left: 50%;
  left: -250px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 27px;
  margin-bottom: 50px; }

.b-rating {
  overflow: hidden;
  margin-top: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
  width: 500px;
  margin-left: 50%;
  left: -250px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 27px;
  margin-bottom: 50px; }

.b-register {
  overflow: hidden;
  margin-top: 30px;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
  width: 500px;
  margin-left: 50%;
  left: -250px;
  border-radius: 5px;
  z-index: 0;
  padding-bottom: 27px;
  margin-bottom: 50px; }

.b-user {
  height: 60px;
  z-index: 100;
  width: 100%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3); }
  .b-user__exit {
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow: hidden; }
    .b-user__exit:hover {
      background-color: #F5F5F5;
      cursor: pointer; }
    .b-user__exit__icon {
      width: 30px;
      height: 30px;
      padding: 5px;
      margin-top: 10px;
      opacity: 0.55; }
    .b-user__exit__text {
      color: #777;
      font-family: arial;
      font-size: 16px;
      margin-top: 22px;
      margin-right: 10px; }
  .b-user__user {
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow: hidden; }
    .b-user__user:hover {
      background-color: #F5F5F5;
      cursor: pointer; }
    .b-user__user__ava {
      box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
      margin-top: 10px;
      border-radius: 50%;
      height: 40px;
      width: 40px; }
    .b-user__user__name {
      color: #666;
      font-family: arial;
      font-size: 18px;
      margin-top: 20px;
      margin-left: 15px; }

.b-controller {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; }
  .b-controller:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .b-controller .b-controller__container {
    overflow: hidden;
    width: 90%;
    background-color: white;
    display: inline-block;
    vertical-align: middle; }

.card-player {
  width: 25%;
  float: left;
  margin: 10px 0;
  margin-left: 6.25%;
  overflow: hidden;
  background: rgba(253, 253, 253, 0.53);
  border-radius: 0.2em;
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.3); }
  .card-player__color-block {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden; }
    .card-player__color-block__ready {
      margin: 12px;
      width: 36px;
      height: 36px;
      background: url("../img/ready.png"); }
  .card-player__name {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 2px 0 rgba(125, 125, 125, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font: normal 16px/1 Verdana, Helvetica;
    position: relative; }
  .card-player__rating {
    text-align: center;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    font-family: arial; }

.flat-table {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 17px;
  overflow: auto; }
  .flat-table__header-value {
    background-color: #3498DB;
    color: white;
    font-weight: normal;
    padding: 10px 20px;
    text-align: center; }
  .flat-table__value {
    background-color: #ECF0F1;
    color: #6f6f6f;
    padding: 10px 20px; }

.subtitle {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 2px 0 rgba(125, 125, 125, 0.5);
  text-transform: uppercase;
  text-align: center;
  color: #666;
  margin-top: 20px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  font: normal 20px/1 Verdana, Helvetica;
  position: relative; }

.text-field {
  margin: 20px auto;
  display: block;
  width: 75%;
  border-radius: 3px;
  height: 25px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 2%;
  font-family: 'Open Sans',sans-serif;
  font-size: 95%;
  color: #555; }
  .text-field:focus {
    outline: none; }

.title {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 2px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  color: #666;
  margin-top: 20px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  font: normal 30px/1 Verdana, Helvetica;
  position: relative; }

/*# sourceMappingURL=styles.css.map */
