.b-game {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    width: 1200px;
    min-height: 600px;
    margin-left: 50%;
    left: -600px;
    padding-bottom: 10px;

    @import '__game-container/__game-container';
    @import '__ratings-card/__ratings-card';
}
