.b-game {
    overflow: hidden;
    margin-top: 30px;
    position: absolute;
    background-color: white;
    width: 1000px;
    min-height: 500px;
    margin-left: 50%;
    left: -500px;
    border-radius: 5px;
    z-index: 0;
    padding-bottom: 10px;
    &:before {
		@extend .dashed;
    }
}
