&__points {
  font-family: Open Sans;
  font-weight: 600;
  color: white;
  margin: 30px auto;
  height: 200px;
  text-align: center;
  width: 200px;
  border: solid 3px;
  box-shadow: 0 0 0px 5px #5C6BC0;
  background-color: #9FA8DA;
  border-radius: 50%;
  line-height: 200px;
  font-size: 120px;
}
