.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 19px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    position: relative;
    display: block;
    cursor: pointer;
    font-family: Verdana, Helvetica, sans-serif;
    margin: 15px auto;
    width: 80%;
    @import '_blue/_blue';
    @import '_red/_red';
    @import '_short/_short';
    &:active {
		@include transform(translate(0px, 5px));
		box-shadow: 0 1px 0 0;
	}
	&:focus {
		outline: none;
	}
}


