.title {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 20px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    font: normal 30px/1 Verdana, Helvetica;
    position: relative;
}
