.controller-btn {
  cursor: pointer;
  position: relative;
  float: left;
  height: 100%;
  width: 50%;

  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @import "__left-icon/__left-icon";
  @import "__right-icon/__right-icon";

  &:active {
    background-color: #E0E0E0;
  }
  &:focus {
    outline: none;
  }
}