.b-user__exit {
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow: hidden;
}
.b-user__exit:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}