.b-user {
    height: 60px;
    z-index: 100;
    width: 100%;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
    @import '__exit/__exit';
    @import '__user/__user';
    @import '__controller/__controller';
}
