&__name {
  color: #444;
  text-overflow: ellipsis;
  font-family: 'Open Sans', Arial;
  float: left;
  width: 60%;
  margin-left: 15px;
  font-size: 16px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}