&__ratings-card {
  position: relative;
  overflow: hidden;
  background-color: white;
  float: left;
  min-height: 600px;
  padding-bottom: 10px;
  z-index: 1;

  &:before {
    @extend .dashed;
  }

  @import "__container/__container";
}