&__name {
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    position: relative;
    font-family: arial;
}
