&__name {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 2px 0 rgba(125, 125, 125, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font: normal 16px/1 Verdana, Helvetica;
    position: relative;
}
