.room-item {
  width: 80%;

  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  cursor: pointer;

  @import '__name/__name';
  @import '__photo/__photo';
  @import '__point/__point';
}

.room-item:hover {
  background-color: #eee;
}

.room-items-list li {
  display: block;
}

.room-items-list :last-child .room-item {
  border-bottom: none;
}