&__left-icon {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 173.2px 100px 0;
  border-color: transparent #007bff transparent transparent;

  left: 50%;
  top: 50%;

  margin-left: -86.5px;
  margin-top: -100px;
}